<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ReputationLoop API</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <h3>Company Info</h3>
            <div class="container-fluid dot-tmpl" id="business_info">
                <div class="row">
                    <div class="col-md-3"><strong>Company Name</strong></div>
                    <div class="col-md-3">{{=it.business_name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Company Address</strong></div>
                    <div class="col-md-3">{{=it.business_address}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Company Phone</strong></div>
                    <div class="col-md-3">{{=it.business_phone}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Total Rating</strong></div>
                    <div class="col-md-3">{{=it.total_rating.total_avg_rating}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>External Url</strong></div>
                    <div class="col-md-3">{{=it.external_url}}</div>
                </div>
            </div>
            <h3>Reviews</h3>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="btn-group filter"  role="group" aria-label="...">
                            <button data-loading-text='<i class="fa fa-refresh icon-spin"></i> Please Wait...' type="button" data-param="internal" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">Internal</button>
                            <button data-loading-text='<i class="fa fa-refresh icon-spin"></i> Please Wait...' type="button" data-param="yelp" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">Yelp</button>
                            <button data-loading-text='<i class="fa fa-refresh icon-spin"></i> Please Wait...' type="button" data-param="google" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">Google</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="reviews dot-tmpl" id="reviews">

                <div class="container">
                    <div class="row">
                        <div class="col-md-8">

                            <section class="comment-list">
                                {{ for(var rev in it) { }}
                                <article class="row">
                                    <div class="col-md-2 col-sm-2 hidden-xs">
                                        <figure class="thumbnail">
                                            <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                                            <figcaption class="text-center">
                                                <a target="_blank" href="{{=it[rev].customer_url}}">
                                                    {{=it[rev].customer_name}} {{=it[rev].customer_last_name}}
                                                </a>

                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user">
                                                        <div class="rating pull-left">
                                                            ({{=it[rev].rating}})
                                                            <span class="{{? it[rev].rating >= 4.5}}voited{{?}}">☆</span>
                                                            <span class="{{? it[rev].rating >= 3.5}}voited{{?}}">☆</span>
                                                            <span class="{{? it[rev].rating >= 2.5}}voited{{?}}">☆</span>
                                                            <span class="{{? it[rev].rating >= 1.5}}voited{{?}}">☆</span>
                                                            <span class="{{? it[rev].rating >= 0.5}}voited{{?}}">☆</span>
                                                        </div>
                                                        <div class="pull-right"><small>ID: {{=it[rev].review_id}}</small></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{=it[rev].date_of_submission}}</time>
                                                </header>

                                                <div class="comment-post">
                                                    <p>
                                                        {{=it[rev].description}}
                                                    </p>
                                                </div>
                                                <p class="text-right">Source: {{=it[rev].review_source}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {{ } }}
                            </section>
                        </div>
                    </div>
                </div>


            </div>
            <div class="text-center pagin">
                <div id="nums"></div>
                <a id="prev" data-loading-text='<i class="fa fa-refresh icon-spin"></i> Please Wait...' style="display: none" class="btn btn-default"><< Prev Comments </a>
                <a id="next" data-loading-text='<i class="fa fa-refresh icon-spin"></i> Please Wait...' class="btn btn-default">Next Comments >> </a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>